{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <h3>{{ next_sale|default_if_none:"Только свежая информация!" }}</h3>

    <form action="" method="get" >
    {{ filterset.form.non_field_errors }}

    {{ filterset.form.name__icontains.errors }}
    <label for="{{ filterset.form.name__icontains.pk_for_label }}">Введите новость</label>
    <input
        id="{{ filterset.form.name__icontains.pk }}"
        name="{{ filterset.form.name__icontains.name }}"
        value="{{ filterset.form.name__icontains.value }}"
        class="form-control"
    >
    <input type="submit" class="mt-3 btn-primary" value="Найти" />
    </form>

<a href="http://127.0.0.1:8000/news/search/">Поиск новостей</a>

   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Текст</td>
               <td>Категория</td>
               <td>Дата публикации</td>
               <td>Автор</td>




           </tr>

           {% for new in news %}
           <tr>
               <td><a class="nav-link" href="{% url 'new_detail' new.pk %}"> {{ new.name }}</a></td>
               <td>{{ new.description|truncatechars:20|censor }}</td>
               <td>
                   {% for cat in new.category_new.all %}
                       <a href="{% url 'category_list' cat.pk %}">{{ cat.name }}</a>
                   {% endfor %}
               </td>
               <td>{{ new.date_create|date:'M d Y' }}</td>
               <td>{{ new.author_new }}</td>
               <td>{{ new.user }}</td>
               <td><a href="{{ p.get_absolute_url }}"></a></td>

           </tr>

           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>

<button> <a href="sign/logout/">Выйти</a> </button>

{% endblock content %}